<a href="https://colab.research.google.com/github/Sidd-04/git/blob/master/Lecture1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a="5"
b="7"
c=a+b
print(c)
print(int(a)+int(b))
print(type(a))

57
12
<class 'str'>

In [6]:
a=10
b=10.2
sum=a+b
print(sum)

20.2

In [14]:
a="3434"
b="I am SId"
c=323
print(c+float(a))
print(b+a) #concantenation of two strings
print(str(c)+a+b)

3757.0
I am SId3434
3233434I am SId

In [ ]:
#to write multi line comments use """print("hell")                         """

In [3]:
birthyear=int(input("enter your  birth age"))
age=2024-birthyear
print("my age is" +str(age))

enter your  birth age1920
my age is104

In [7]:
#write a biodata of name age educational qualififcation, hobbies,address
name=input("enter your NAme \n")
age=int(input("enter your age\n"))
educational_qualifications=input("write your education qualifications ")
address=input("What is your Address ")
hobbies=input("SIR WHat are your hobbies ")
print("your data is as follows sir ")
print("Your NAme is ",name)
print("your age is ",(age))
print("education is",educational_qualifications)
print("your Hobbies are",hobbies)

enter your NAme
Siddhant
enter your age
12
write your education qualificationsBtech
What is your AddressRishikesh
SIR WHat are your hobbiesgaming
your data is as follows sir
Your NAme is  Siddhant
your age is  12
education is Btech
your Hobbies are gaming