<a href="https://colab.research.google.com/github/Sidd-04/git/blob/master/Lecture7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#list comprehension
#to dynamically create a list
str1="hello_world"
list1=[i for i in str1]
print(list1)
numbers = range (10)
print(numbers)

['h', 'e', 'l', 'l', 'o', '_', 'w', 'o', 'r', 'l', 'd']

In [19]:
#dynamic2
list=[i for i in range(40) if i%2==0]
print(list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [7]:
cubes=[]
for i in range(11):
  cubes.append(i**3)
print("cubes of numbers from 1-10: ",cubes)

cubes of numbers from 1-10:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
numbers = range (10)
print(numbers)

for num in numbers:
  print(num)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [10]:
list=[]
for i in range(1,41,1):
  if (i%2==0):
    list.append(i)
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

Strings concept.

In [29]:
#1
str1="hello "
name=input("enter your name :")
str1+=name
str1+=" ,Welocome to python ."
print(str1)


#2
str2='hello'
print(id(str1))
abc=input("enter 2nd word")
str2=str2+abc
print(str2)
print(id(str2))

enter your name :Sid
hello Sid ,Welocome to python .
133809600860992
enter 2nd wordWorld
helloWorld
133809823504816

SETS
1.no duplicate entries
2.{ }
3.mutABLE

Dictionary

In [36]:
Dict={'Roll no' : '5001234','Name':'SIddhant','course':'Btech'}
print("Dict[ROLL_NO]= ",Dict['Roll no'])
print("Dict[NAME]= ",Dict['Name'])
print("Dict[COURSE]= ",Dict['course'])
print("\n",Dict)
Dict['dept']='socs'  #adding or modifying
print(Dict)

Dict[ROLL_NO]=  5001234
Dict[NAME]=  SIddhant
Dict[COURSE]=  Btech

 {'Roll no': '5001234', 'Name': 'SIddhant', 'course': 'Btech'}
{'Roll no': '5001234', 'Name': 'SIddhant', 'course': 'Btech', 'dept': 'socs'}

1.WAP to check or to append the no's in a list and after that print every no whetehrr it is even or odd for every no.
2.take string welcome to the world of python and  put in a list
3.WAP to create a tuple and add 10 values be it string and print all those values using a for loop

In [ ]:
list=[]
list2=[]
list3=[]
for i in range(5):
  num=input("enter the no to append in list :")
  list.append(num)
print(list)
k=0
while(k<5):
 if list[k]%2==0:
    print("even element is : ",list[k])
    list2.append(list[k])
    k+=1
    print("list2 is : ",list2)
 else:
    print("odd element is : ",list[k])
    list3.append(list[k])
    k+=1
    print("list3 is : ",list3)