<a href="https://colab.research.google.com/github/Sidd-04/git/blob/master/Lecture_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
lst=(1,2,3,4)
str="HEllo"
list=[1,2,3,4,]
list.extend(lst)
list.extend(str)
print(list)
print('H' in str)
print('H' in "hello")

[1, 2, 3, 4, 1, 2, 3, 4, 'H', 'E', 'l', 'l', 'o']
True
False

In [8]:
#WAP to swap 1st and last element of the list
list=[1,2,3,4,5,6]
k=list[0]
list[0]=list[5]
list[5]=k
print(list)
list=['a','b','c','d']
k=
print(list)

[6, 2, 3, 4, 5, 1]

In [20]:
#WAP to create a list that stores inly the prime no.s
list=[]
k=2
for i in range(0,100):
  if i%k!=0 :
    list.append(i)
    i+=1
    k+=1
  elif i%k==0:
    i+=1
  else:
    print("ik")
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [36]:
#WAP to random no in a list and find the largest no.
lst=[]
for i in  range(5):
  k=int(input("enter no"))
  lst.append(k)
print(lst)
i=0
while(i in lst):
  if lst[i]>=lst[i+1]:
    large=lst[i]
    i+=1
  else:
    large=lst[i+1]
    i+=1
print(large)

enter no2
enter no45
enter no67
enter no34
enter no23
[2, 45, 67, 34, 23]
5